---
layout: default
title: Maitri's Art Gallery
---
 {% include navigation_index.html %}
<!-- HERO -->
        <div class="hero">
            <!-- FRONT CONTENT -->
            <div class="front-content">
                <img src="{{site.logo}}" class="img-responsive logo" alt="logo">
                <h1>{{site.greeting}} I’m <span>{{site.author}}</span>.<br>{{site.heading}}</h1>
            </div>
            <!-- /FRONT CONTENT -->
       </div>
        <!-- /HERO -->
        
        <!-- PORTFOLIO -->
        <div class="portfolio">    
            
        {% for art in site.arts %}
         <div data-featherlight-gallery data-featherlight-filter="a">
                <a class="item" href="{{art[1].image}}">
                    <i class="fa fa-eye" aria-hidden="false"></i>
                    <div class="item-cover" style="background-image: url({{art[1].image}})"></div>                 
                </a>
         </div>
        {% endfor %}
            
</div>
        <!-- /PORTFOLIO -->

<style>
 .inline { display: none }
.caption { position: relative; bottom: 20px; height: 0; color: white }
</style>
<script>
 $.featherlightGallery.prototype.afterContent = function() {
  debugger
  var caption = this.$currentTarget.find('img').attr('alt');
  this.$instance.find('.caption').remove();
  $('<div class="caption">').text(caption).appendTo(this.$instance.find('.featherlight-content'));
};
</script>
    
